{% extends "_base.html" %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
    <h1>About</h1>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras orci odio, 
    tincidunt sed turpis nec, gravida commodo augue. Fusce porta, tellus quis aliquam vehicula, 
    ipsum risus dictum arcu, sed pulvinar magna lacus at purus. Nullam sit amet sapien euismod, 
    volutpat quam sit amet, facilisis nibh. Pellentesque a felis iaculis, lacinia elit eu, 
    semper eros. Donec semper vestibulum elit ac blandit. Aenean pretium cursus nisi, 
    quis porta augue aliquam sit amet. Etiam tempor vel neque eu commodo. Donec nec blandit sem, 
    sed varius leo. Quisque rhoncus dignissim sodales. Morbi efficitur, elit nec porttitor consectetur, 
    justo tellus posuere urna, mattis sollicitudin nibh turpis at libero. Vivamus dictum convallis purus. 
    Aliquam semper enim elit, at vestibulum est accumsan eu. Praesent sit amet nunc magna. 
    Sed auctor mi ac sem venenatis consequat.
    </p>
{% endblock content %}

