{% extends "_base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container-fluid bg-light">
    <div class="container p-5">
        <h2 class="text-start w-75">Welcome to the SwappingPlace, where you can donate and collect clothes</h2>
        <div class=" d-flex mt-4">
            <a class="btn btn-dark" href="#" role="button">Create your SwappingPlace</a>
            <a class="btn btn-outline-secondary ms-4" href="#" role="button">How it works</a>
        </div>
    </div>
</div>
{% endblock content %}

