{% extends "_base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container-fluid bg-light">
    <div class="container p-5">
        <h2 class="text-start w-75">Welcome to the SwappingPlace, where you can donate and collect clothes</h2>
        <div class=" d-flex mt-4">
            {% if user.is_authenticated %}
            <a class="btn btn-dark" href="#" role="button">➡️ Your SwappingPlace</a>
            {% else %}
            <a class="btn btn-dark" href="#" role="button">Create your SwappingPlace</a>
            <a class="btn btn-outline-secondary ms-4" href="#" role="button">How it works</a>
            {% endif %}
        </div>
    </div>
</div>
{% include "swapping/swapping_product_list.html" with swapping_product_list=swapping_product_list %}
{% endblock content %}

