{% extends "_base.html" %}

{% load crispy_forms_tags %}

{% block title %}New Product{% endblock title %}

{% block content %}
<div class="container-sm p-5">
    <h1 class="ms-2">New clothe</h1>
    <div class="form-group">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="row p-2">
                <div class="col-md-6">
                    {{ form.title }}
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-6">
                    {{ form.image|as_crispy_field }}
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-2 mb-3">
                    <select class="form-select" name="{{ form.category.name }}">
                        <option value="" selected disabled>{{ form.category.name|capfirst }}</option>
                        {% for category_value, category_label in form.category.field.choices %}
                            <option value="{{ category_value }}">{{ category_label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2 mb-3">
                    <select class="form-select " name="{{ form.sex.name }}">
                        <option value="" selected disabled>{{ form.sex.name|capfirst }}</option>
                        {% for sex_value, sex_label in form.sex.field.choices %}
                            <option value="{{ sex_value }}">{{ sex_label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <select class="form-select" name="{{ form.size.name }}">
                        <option value="" selected disabled>{{ form.size.name|capfirst }}</option>
                        {% for size_value, size_label in form.size.field.choices %}
                            <option value="{{ size_value }}">{{ size_label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-2 mb-3">
                    <select class="form-select" name="{{ form.color.name }}">
                        <option value="" selected disabled>{{ form.color.name|capfirst }}</option>
                        {% for color_value, color_label in form.color.field.choices %}
                            <option value="{{ color_value }}">{{ color_label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2 mb-3">
                    <select class="form-select" name="{{ form.condition.name }}">
                        <option value="" selected disabled>{{ form.condition.name|capfirst }}</option>
                        {% for condition_value, condition_label in form.condition.field.choices %}
                            <option value="{{ condition_value }}">{{ condition_label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <select class="form-select" name="{{ form.quality.name }}">
                        <option value="" selected disabled>{{ form.quality.name|capfirst }}</option>
                        {% for quality_value, quality_label in form.quality.field.choices %}
                            <option value="{{ quality_value }}">{{ quality_label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-6">
                    {{ form.description }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary m-2">New</button>
            <a class="btn btn-outline-secondary" href="{% url "home" %}">Back</a>
        </form>
    </div>
</div>
{% endblock content %}