{% extends "_base.html" %}

{% load static %}

{% block title %}{{ product.title }}{% endblock title %}

{% block content %}

<div class="container-sm col-6">
    
    <div class="col align-items-center p-5">
        <div class="container col-md-4">
            <img class="img-thumbnail" src="{{ product.image.url }}" alt=""> 
        </div>
    </div>
    <hr>
    <div class="container text-center p-3">
        <div class="row align-items-center">
            <p class="col-6 fs-4 fw-bold text-start">{{ product.title|upper }}</p>
            <p class="col-3 "><i class="bi bi-clock-history"> {{ product.how_long }}</i></p>
            <p class="col ">distance</p>
            {% if product.is_favorite %}
                <i class="col align-self-start fs-3 bi bi-heart-fill "></i>
            {% else %}
            <i class="col align-self-start fs-3 bi bi-heart"></i>
            {% endif %}
        </div>
    </div>
    <div class="bg-light row m-0">
        <div class="col p-2">
            <p class="text-center">Size</p>
            <p class="text-center fw-bold">{{ product.size }}</p>
        </div>
        <div class="col p-2">
            <p class="text-center">Condition</p>
            <p class="text-center fw-bold">{{ product.condition }}</p>
        </div>
        <div class="col p-2">
            <p class="text-center">Color</p>
            <p class="col text-center fw-bold">{{ product.color }}</p>
        </div>
    </div>
    <div class="d-grid mx-auto">
        <button type="button" class="btn btn-success btn-lg m-5">Reserve</button>
    </div>
    <div class="border p-3">
        <p class="text-body-secondary">Description:</p>
        <p>{{ product.description }}</p>
    </div>
    {% if success %}
        <div  class="border mt-3 p-3">
            <p>Carte géolocalisation</p>
            {% comment %}  Attention la map est codé en dur  {% endcomment %}
                <iframe width="100%" height="400" src="{% static 'map.html' %}"></iframe> 
        </div>
    {% endif %}
    <div class="d-grid gap-2 d-md-block mt-4">
        <button type="button" class="btn btn-info btn-lg">Message</button>
        <button type="button" class="btn btn-success btn-lg">Reserve</button>
        <button type="button" class="btn btn-outline-secondary btn-lg">Back</button>
    </div>
    
</div>

{% endblock content %}