{% extends "_base.html" %}

{% load static %}

{% block title %}{{ swapping_product.title }}{% endblock title %}

{% block content %}

<div class="container-sm">
    <div>
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#868e96"></rect>
        </svg>
        <img src="#" alt="#">
    </div>
    <div class="container row m-3">
        <p class="col col-6 fw-bold">{{ swapping_product.title|upper }}</p>
        <p class="col">date</p>
        <p class="col">distance</p>
        <i class="col bi bi-heart-fill"></i>
    </div>
    <div class="container bg-light row">
        <div class="container col mt-2">
            <p class="text-center">Taile</p>
            <p class="text-center">{{ swapping_product.size }}</p>
        </div>
        <div class="container col mt-2">
            <p class="text-center">Condition</p>
            <p class="text-center">{{ swapping_product.product_condition }}</p>
        </div>
        <div class="container col mt-2">
            <p class="text-center">Color</p>
            <p class="col text-center">{{ swapping_product.color }}</p>
        </div>
        
    </div>

</div>

{% endblock content %}